<div class="card" style="width: 15rem;">
  <div
    class="d-flex w-100 flex-column justify-content-center align-items-center align-content-center"
  >
    <i class="{{this.icon}} my-3" style="font-size: 64px;"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.text}}</p>
    <a href="{{this.link}}" class="btn btn-primary">
      Clique aqui!
    </a>
  </div>
</div>