<div class="d-flex flex-row border-bottom justify-content-around align-items-center text-center my-0 w-100 py-1 fw-bold">
  <p class="col-4 my-0"> Produto </p>
  <p class="col-2 my-0"> Categoria </p>
  <p class="col-2 my-0"> Valor </p>
  <p class="col-2 my-0"> Quantidade comprada </p>
  <p class="col-2 my-0"> Subtotal </p>
</div>