<div
  class="d-flex flex-row border-bottom justify-content-around align-items-center align-content-center my-0 w-100 py-1 fw-bold"
>
  <p class="col-1 my-0 text-center"> Código </p>
  <p class="col-3 my-0 text-center"> Nome </p>
  <p class="col-2 my-0 text-center"> Categoria </p>
  <p class="col-2 my-0 text-center"> Valor </p>
  <p class="col-2 my-0 text-center"> Estoque atual </p>
  <p class="col-2 my-0 text-center"> </p>
</div>