<div
  class="d-flex flex-row rounded border-bottom justify-content-around align-items-center align-content-center my-0 w-100 py-1 fw-bold"
>
  <p class="col-1 my-0 text-center"> Id </p>
  <p class="col-4 my-0 text-center"> Cliente </p>
  <p class="col-3 my-0 text-center"> Valor </p>
  <p class="col-2 my-0 text-center"> Data </p>
  <p class="col-2 my-0"> </p>
</div>