<p class="col-1 my-2 text-center"> {{this.id}} </p>
<p class="col-3 my-2 text-center"> {{this.ClientID}} </p>
<p class="col-2 my-2 text-center"> {{this.createdAt}} </p>
<div class="col-2 d-flex flex-row my-2 gap-2 align-content-end justify-content-center">
  {{> buttonEdit route='/vendas/edit'}}
  {{> buttonDelete}}
</div>
<hr class="my-0" />
{{> confirmDelete route='/vendas/delete'}}