<div
  class="container-fluid w-100 min-vh-100 bg-purple-500 d-flex flex-row align-content-center align-items-center"
>
  <div
    class="container-fluid w-auto d-flex flex-column justify-content-center align-content-center align-items-center bg-dark text-light rounded rounded-5 py-5 px-5 bg-opacity-75"
  >
  <i class="bi bi-gear-wide-connected text-light" style="font-size: 128px"></i>
    <h1 class="fs-1 text-light"> 404 </h1>
    <h1 class="fs-2 mb-5 text-light">Página não encontrada</h1>
    <p class="fs-4 my-0 text-light">Lamentamos, mas a página que você está procurando não existe! </p>
    <p class="fs-4 my-0 text-light"> Por favor, verifique se digitou o endereço corretamente </p>
    </p>
  </div>
</div>