  <nav id="navbar" class="navbar bg-purple-200 px-3 mb-1 w-100">
    <a class="navbar-brand" href="#">SysMercado</a>
    <ul id="main-navbar" class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link disabled" href="#"> {{usuario.login}} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Logout</a>
      </li>
    </ul>
  </nav>
  <form class="container-fluid w-50 d-flex flex-column gap-2" method="post" action="/produtos/add">
    <p class="fs-4 text-center">Cadastro de Produtos</p>
    <div class="form-group w-25">
      <label for="cod_produto">Código do produto</label>
      <input
        type="number"
        class="form-control"
        id="cod_produto"
        name="cod_produto"
        placeholder="Código"
      />
    </div>
    <div class="form-group w-75">
      <label for="cod_produto">Nome do produto</label>
      <input
        type="text"
        class="form-control"
        id="nome_produto"
        name="nome_produto"
        placeholder="Nome"
      />
    </div>

    <div class="row d-flex flex-row w-100">
      <div class="col-6">
        <label for="categoria_produto"> Categoria </label>
        <select class="form-control" id="categoria_produto" name="categoria_produto">
          <option> Limpeza </option>
          <option> Alimentícios </option>
          <option> Bebidas </option>
        </select>
      </div>
      <div
        class="col-auto d-flex flex-column align-self-end align-items-end h-100"
      >
        <button type="submit" class="btn align-bottom btn-primary">
          Cadastrar categoria
        </button>
      </div>
    </div>

    <div class="row d-flex flex-row w-100">
      <div class="col-6">
        <label for="localizacao_produto"> Localização </label>
        <select class="form-control" id="localizacao_produto" name="localizacao_produto">
          <option> Prateleira 1 </option>
          <option> Prateleira 2 </option>
          <option> Prateleira 3 </option>
        </select>
      </div>
      <div
        class="col-auto d-flex flex-column align-self-end align-items-end h-100"
      >
        <button type="submit" class="btn align-bottom btn-primary">
          Cadastrar localização
        </button>
      </div>
    </div>

    <div class="form-group w-25">
      <label for="cod_produto">Valor</label>
      <input type="number" step="0.01" min="0" class="form-control" id="valor_produto"  name="valor_produto" />
    </div>

    <div class="form-group w-25">
      <label for="cod_produto">Estoque atual </label>
      <input type="number" class="form-control" id="estoque_produto"  name="estoque_produto" />
    </div>

    <div class="form-group w-100">
      <label for="cod_produto">Descrição</label>
      <textarea
        type="textarea"
        class="form-control"
        id="descricao_produto"
        name="descricao_produto"
        rows="3"
      ></textarea>
    </div>
    <div class="d-flex flex-row justify-content-end gap-3">
      <button type="submit" class="btn btn-success">Cadastrar</button>
      <button type="clean" class="btn btn-secondary">Limpar</button>
    </div>
    </form>
  </div>