  <nav id="navbar" class="navbar bg-purple-200 px-3 mb-1 w-100">
    <a class="navbar-brand" href="#">SysMercado</a>
    <ul id="main-navbar" class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/"> Sair </a>
      </li>
    </ul>
  </nav>
  <form class="container-fluid w-50 d-flex flex-column gap-2" action="/users/add" method="post">
    <p class="fs-4 text-center">Cadastro de Usuário</p>

    <div class="form-group w-50">
      <label for="cpf_usuario">CPF/CNPJ:</label>
      <input
        type="text"
        class="form-control"
        id="cpf_usuario"
        name="cpf_usuario"
        placeholder="CPF/CNPJ"
      />
    </div>

    <div class="form-group w-75">
      <label for="nome_usuario">Nome completo</label>
      <input
        type="text"
        class="form-control"
        id="nome_usuario"
        name="nome_usuario"
        placeholder="Nome"
      />
    </div>
    
    <div class="form-group w-50">
      <label for="cpf_usuario"> Usuário de acesso </label>
      <input
        type="text"
        class="form-control"
        id="usuario"
        name="usuario"
        placeholder="Usuário de acesso"
      />
    </div>
    
    <div class="form-group w-50">
      <label for="cpf_usuario">Senha de acesso:</label>
      <input
        type="password"
        class="form-control"
        id="senha_usuario"
        name="senha_usuario"
        placeholder="Senha de acesso"
      />
    </div>

    
    </div>
    <div class="d-flex flex-row justify-content-end gap-3">
      <button type="submit" class="btn btn-success">Cadastrar</button>
      <button type="clean" class="btn btn-secondary">Limpar</button>
    </div>
    </form>
  </div>