{{> navBar tela="Página Principal"}}

<main
  class="container-fluid h-75 col-12 d-flex flex-sm-row px-0 gap-0 flex-column"
>
  <div class="col-1 m-0">
    <p class="d-flex w-100 m-0">
      <a class="w-100 btn btn-primary" data-bs-toggle="collapse" href="#menuClientes" role="button" aria-expanded="false" aria-controls="collapseExample">
        Clientes
      </a>
    </p>
    <div class="collapse m-0" id="menuClientes">
      <div class="card card-body">
        <a href="/clientes/add" class="btn btn-primary">Cadastro de Cliente</a>
        <a href="/clientes/" class="btn btn-primary">Clientes cadastrados</a>
      </div>
    </div>
    <p class="d-flex w-100 m-0">
      <a class="w-100 btn btn-primary" data-bs-toggle="collapse" href="#menuVendas" role="button" aria-expanded="false" aria-controls="collapseExample">
        Vendas
      </a>
    </p>
    <div class="collapse m-0" id="menuVendas">
      <div class="card card-body">
        <a href="/vendas/cadastro" class="btn btn-primary">Nova venda</a>
        <a href="/vendas/historico" class="btn btn-primary">Histórico</a>
      </div>
    </div>
    <p class="d-flex w-100 m-0">
      <a class="w-100 btn btn-primary" data-bs-toggle="collapse" href="#menuProdutos" role="button" aria-expanded="false" aria-controls="collapseExample">
        Produtos
      </a>
    </p>
    <div class="collapse m-0" id="menuProdutos">
      <div class="card card-body">
        <a href="/produtos" class="btn btn-primary">Estoque de Produtos</a>
        <a href="/produtos/add" class="btn btn-primary">Cadastro de Produtos</a>
      </div>
    </div>
  </div>
  <div class="col-5 h-100 bg-body-tertiary">
    <p class="w-100 bg-body-secondary text-center fs-4"> Dashboard </p>
    <div class="d-flex flex-column px-3">
      <p> Total de vendas no mês: R$ ####,## </p>
      <p> Total de clientes cadastrados: xx clientes </p>
      <p> Total de produtos cadastrados: xx produtos </p>
    </div>
  </div>
  <div class="col-5 h-100">
    <p class="w-100 bg-body-secondary text-center fs-4">
      Produtos em falta
    </p>
  </div>
</main>