    {{> navBar tela="Página Principal"}}
<p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#menuCadastro" role="button" aria-expanded="false" aria-controls="collapseExample">
    Cadastros
  </a>
</p>
<div class="collapse" id="menuCadastro">
  <div class="card card-body">
    <a href="/cadastroCliente" class="btn btn-primary">Cadastro de Cliente</a>
    <a href="/cadastroProduto" class="btn btn-primary">Cadastro de Produto</a>
    <a href="/cadastroVenda" class="btn btn-primary">Cadastro de Venda</a>
  </div>
</div>
      <main
        class="container-fluid h-75 col-10 d-flex flex-sm-row px-0 gap-2 flex-column"
      >
        <div class="w-50 w-sm-100 h-100 bg-body-tertiary">
          <p class="w-100 bg-body-secondary text-center fs-4"> Dashboard </p>
          <div class="d-flex flex-column px-3">
            <p> Total de vendas no mês: R$ ####,## </p>
            <p> Total de clientes cadastrados: xx clientes </p>
            <p> Total de produtos cadastrados: xx produtos </p>
          </div>
        </div>
        <div class="w-50 sm:w-100 h-100">
          <p class="w-100 bg-body-secondary text-center fs-4">
            Produtos em falta
          </p>
        </div>
      </main>
    </div>
  </div>