{{> navBar tela="Página Principal"}}

<main
  class="container-fluid h-75 col-12 d-flex flex-sm-row px-0 gap-0 flex-column"
>
  <div class="col-1 m-2">
    <p class="d-flex w-100 mb-1">
      <a class="w-100 fs-5 d-flex flex-row justify-content-between px-2 align-items-center text-uppercase text-black text-decoration-none" data-bs-toggle="collapse" href="#menuClientes" role="button" aria-expanded="false" aria-controls="collapseExample">
        Clientes 
        <i class="fs-4 bi bi-people"></i>
      </a>
    </p>
    <div class="collapse m-0" id="menuClientes">
      <div class="w-100 d-flex flex-column justify-content-center gap-2 py-2">
        <a href="/clientes/add" class="w-100 text-center text-black text-decoration-none border-bottom">Cadastro de Cliente</a>
        <a href="/clientes/" class="w-100 text-center text-black text-decoration-none border-bottom mb-2">Clientes cadastrados</a>
      </div>
    </div>
    <p class="d-flex w-100 mb-1">
      <a class="w-100 fs-5 d-flex flex-row justify-content-between px-2 align-items-center text-uppercase text-black text-decoration-none" data-bs-toggle="collapse" href="#menuVendas" role="button" aria-expanded="false" aria-controls="collapseExample">
        Vendas 
        <i class="fs-4 bi bi-cart3"></i>
      </a>
    </p>
    <div class="collapse m-0" id="menuVendas">
      <div class="w-100 d-flex flex-column justify-content-center gap-2 py-2">
        <a href="/vendas/cadastro" class="w-100 text-center text-black text-decoration-none border-bottom">Nova venda</a>
        <a href="/vendas/historico" class="w-100 text-center text-black text-decoration-none border-bottom mb-2">Histórico</a>
      </div>
    </div>
    <p class="d-flex w-100 mb-1">
      <a class="w-100 fs-5 d-flex flex-row justify-content-between px-2 align-items-center text-uppercase text-black text-decoration-none" data-bs-toggle="collapse" href="#menuProdutos" role="button" aria-expanded="false" aria-controls="collapseExample">
        Produtos 
        <i class="fs-4 bi bi-boxes"></i>
      </a>
    </p>
    <div class="collapse m-0" id="menuProdutos">
      <div class="w-100 d-flex flex-column justify-content-center gap-2 py-2">
        <a href="/produtos" class="w-100 text-center text-black text-decoration-none border-bottom">Estoque de Produtos</a>
        <a href="/produtos/add" class="w-100 text-center text-black text-decoration-none border-bottom mb-2">Cadastro de Produtos</a>
      </div>
    </div>
    <p class="d-flex w-100 mb-1">
      <a class="w-100 fs-5 d-flex flex-row justify-content-between px-2 align-items-center text-uppercase text-black text-decoration-none" data-bs-toggle="collapse" href="#menuCategorias" role="button" aria-expanded="false" aria-controls="collapseExample">
        Categorias 
        <i class="fs-4 bi bi-tags"></i>
      </a>
    </p>
    <div class="collapse m-0" id="menuCategorias">
      <div class="w-100 d-flex flex-column justify-content-center gap-2 py-2">
        <a href="/categorias" class="w-100 text-center text-black text-decoration-none border-bottom"> Cadastro Categorias </a>
      </div>
    </div>
  </div>
  <div class="col-5 h-100 bg-body-tertiary">
    <p class="w-100 bg-body-secondary text-center fs-4"> Dashboard </p>
    <div class="d-flex flex-column px-3">
      <p> Total de vendas no mês: R$ ####,## </p>
      <p> Total de clientes cadastrados: xx clientes </p>
      <p> Total de produtos cadastrados: xx produtos </p>
    </div>
  </div>
  <div class="col-5 h-100">
    <p class="w-100 bg-body-secondary text-center fs-4">
      Produtos em falta
    </p>
  </div>
</main>