{{> navBar home=true}}

<div class="mainScreen overflow-hidden row m-0 d-flex align-itens-center justify-content-between z-1">
  <div
    class="divImage m-0 col-12 col-xxl-12 d-flex align-items-start justify-content-end align-items-sm-center justify-content-sm-start justify-content-xl-center"
    style="background-image: url(./assets/images/caixa.png);">
    <div class="divMercham m-2 m-sm-5 m-xl-0 p-2 z-0 ">
      <div class="text-light">
        <h1>Sys Mercado</h1>
        <h3>O melhor para seu mercado!</h3>
        <a href="#solucoes" class="btn btn-light">Conheça nossas soluções </a>
      </div>
    </div>
  </div>
</div>
<div class="h-auto min-vh-100" id="solucoes">
  <div class="d-flex min-vh-100 align-items-center flex-column justify-content-around p-3" id="background-2">
    <h1 class="">Soluções embarcadas</h1>
    <div class="w-100 row d-flex justify-content-center align-items-center gap-3">
      {{> cardHome title="Cadastro de Clientes" body="Com o sistema de
      Cadastro de Clientes, você pode gerenciar todas as informações dos seus clientes em um só lugar, de forma fácil, rápida e 
      segura." link="cadastro_cliente"}}
      {{> cardHome title="Gerenciamento de estoque" body="Gerencie seu estoque de forma fácil e eficiente com o nosso
      sistema de Cadastro de Produtos. Cadastre, organize e localize seus produtos em um só lugar."
      link="controle_estoque"}}
      {{> cardHome title="Cadastro de Produtos" body="Agilize suas vendas com o nosso sistema de Realização de Vendas. Cadastre seus
      produtos, gerencie seus estoques e venda com facilidade." link="cadastro_produtos"}}
    </div>
  </div>
</div>
<div class="h-auto min-vh-100 bg-light" id="cadastro_cliente">
  <div class="d-flex min-vh-100 align-items-center flex-column justify-content-start gap-4 pt-5">
    <h2>Cadastro de Clientes</h2>
    <div>
      {{> itemCheck text="Cadastre todos os seus clientes"}}
      {{> itemCheck text="Atribua uma venda para um cliente"}}
      {{> itemCheck text="Veja as compras do seu cliente" }}
    </div>
    <a href="/users/login" class="btn btn-primary " id="button">Aproveitar agora!</a>
  </div>

</div>
<div class="h-auto min-vh-100 bg-danger " id="controle_estoque">
  <div class="d-flex min-vh-100 align-items-center flex-column justify-content-start gap-4 pt-5" id="background">
    <h2>Gerenciamento de estoque</h2>
    <div>
      {{> itemCheck text="Tenha acesso ao seu estoque"}}
      {{> itemCheck text="Cadastre as categorias dos seus produtos"}}
    </div>
    <a href="/users/login" class="btn btn-primary " id="button">Aproveitar agora!</a>

  </div>
</div>
<div class="h-auto min-vh-100 bg-info " id="cadastro_produtos">
  <div class="d-flex min-vh-100 align-items-center flex-column justify-content-start gap-4 pt-5" id="background-1">
    <h2>Cadastro de Produtos</h2>
    <div>
      {{> itemCheck text="Cadastre todos os seus produtos"}}
      {{> itemCheck text="Separe os produtos por categoria"}}
      {{> itemCheck text="Atribua uma localização para o seu produto"}}
    </div>
    <a href="/users/login" class="btn btn-primary " id="button">Aproveitar agora!</a>

  </div>
</div>
<div class="h-auto min-vh-100 bg-danger" id="planos">
  <div class="d-flex min-vh-100 align-items-center flex-column justify-content-start gap-4 pt-5" id="background">
    <h2>Planos</h2>
    <div class="row w-100 d-flex justify-content-center gap-4">
      {{> cardPlanos title="Plano Básico" body="O plano básico do Sys Mercado oferece recursos essenciais para gerenciar
      clientes e produtos, além de controle de estoque. Com valor acessível, é ideal para pequenos negócios que buscam
      otimizar suas operações." valor= "250,00" link="/users/login"}}
      {{> cardPlanos title="Plano avançado" body="Com o Plano Avançado do Sys Mercado, tenha acesso a recursos
      exclusivos para gerenciar seu negócio além de suporte diferenciado. Com custo baixo, você pode otimizar suas
      operações e aumentar sua produtividade. Ideal para negócios de médio porte." valor= "500,00"
      link="/users/login"}}
      {{> cardPlanos title="Plano Expert" body="Com o Sys Mercado Expert, gerencie seu negócio com facilidade e
      eficiência. Cadastre clientes, controle estoque e venda com agilidade. Suporte dedicado 24 horas por dia 7 dias
      por semana, servidores dedicados e treinamento incluso. Ideal para negócios de grande porte e franquias." valor=
      "1.300,00" link="/users/login"}}
    </div>
  </div>
</div>
<div class="h-auto min-vh-100 bg-success" id="sobre">
  <div class="d-flex min-vh-100 align-items-center flex-column justify-content-start text-center gap-5 pt-5" id="background-2">
    <h1>O Futuro do Varejo Começa com a Sys Mercado.</h1>
    <div class="row w-100 d-flex justify-content-center align-items-center text-center gap-4">
      <div class="col-8 bg-dark-subtle p-3 rounded">
        <h4>Com mais de 2 semanas de experiência no mercado, a Sys Mercado é uma empresa de tecnologia que oferece
          soluções completas para o varejo. Nossos sistemas são desenvolvidos com o que há de mais moderno em
          tecnologia, para que você possa gerenciar seu negócio de forma simples, eficiente e segura.</h4>
      </div>
    </div>
    <a href="/users/login" class="btn btn-primary " id="button">Aproveitar agora!</a>
  </div>