<nav id="navbar" class="navbar bg-body-tertiary px-3 w-100">
  <a class="navbar-brand" href="#">SysMercado</a>
  <ul id="main-navbar" class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link text-black" href="/users/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" href="/users/add">Cadastro</a>
    </li>
  </ul>
</nav>
<div class="container-fluid w-100 px-0 py-0">
  <div class="row h-100 w-100">
    <div
      class="container col-6 w-50 h-100 m-0"
      style="background-image: url('assets/images/caixa1.jpg'); background-size: cover;"
    >
    </div>
    <div
      class="container col-6 w-50 h-100 text-center d-flex flex-column align-items-center justify-content-center align-content-center"
    >
      <p class="fs-2 align-self-center"> SysMercado </p>
      <p class="fs-4"> A solução para o seu mercadinho </p>
      <a class="fs-4 text-decoration-none text-black" href="#solucoes">
        Venha conhecer as nossas soluções!
      </a>
    </div>
  </div>
</div>
<div class="container-fluid w-100 h-100 px-0 py-0">
  <div class="row w-100 bg-body-tertiary" id="solucoes">
    <p class="fs-1 text-center"> Nossas soluções! </p>
  </div>
  <div class="container-fluid w-100 h-100 d-flex flex-row flex-wrap px-0 py-0">
    <div class="w-50 h-50">
      <p class="fs-2 w-100 text-center"> Cadastro de Clientes </p>
      <ul>
        <li class="fs-5"> Cadastre todos os seus clientes </li>
        <li class="fs-5"> Atribua uma venda para um cliente </li>
        <li class="fs-5"> Veja as compras do seu cliente </li>
      </ul>
    </div>
    <div class="w-50 h-50">
      <p class="fs-2 w-100 text-center"> Controle de Estoque </p>
      <ul>
        <li class="fs-5"> Tenha acesso ao seu estoque </li>
        <li class="fs-5"> Cadastre as categorias dos seus produtos </li>
      </ul>
    </div>
    <div class="w-50 h-50">
      <p class="fs-2 w-100 text-center"> Cadastro de Produtos </p>
      <ul>
        <li class="fs-5"> Cadastre todos os seus produtos </li>
        <li class="fs-5"> Separe os produtos por categoria </li>
        <li class="fs-5"> Atribua uma localização para o seu produto </li>
      </ul>
    </div>
    <div class="w-50 h-50">
      <p class="fs-2 w-100 text-center"> Controle de Vendas </p>
      <ul>
        <li class="fs-5"> Crie novas vendas </li>
        <li class="fs-5"> Tenha acesso a todas as suas vendas </li>
        <li> Veja o resumo das vendas por mês </li>
      </ul>
    </div>
  </div>
</div>