{{> navBar tela="Clientes cadastrados"}}
  <div
    class="container-fluid w-100 d-flex flex-column justify-content-center align-items-center align-content-center"
  >
    <div class="container-fluid w-75 d-flex flex-column">
      <div class="w-100 text-center">
        <h1 class="fs-4">Clientes cadastrados</h1>
      </div>
      <div class="my-2">
        <a class="btn btn-primary" href="/clientes/add">Cadastrar novo cliente</a>
      </div>
      <div class="d-flex flex-column gap-1">
        {{#each clientes}}
          {{> cliente}}
        {{/each}}
      </div>
    </div>
  </div>