{{> navBar tela="Estoque"}}
  <div
    class="container-fluid w-100 d-flex flex-column justify-content-center align-items-center align-content-center"
  >
    <div class="container-fluid w-75 d-flex flex-column">
      <div class="w-100 text-center">
        <h1 class="fs-4"> Estoque </h1>
      </div>
      <div>
        <a class="btn btn-primary" href="/produtos/add"> Cadastrar produto </a>
      </div>
      <div class="d-flex flex-column gap-2">
        {{#each produtos}}
          {{> produto}}
        {{/each}}
      </div>
    </div>
  </div>