{{#if auth}}{{else}}
  <div
    class="container-fluid h-100 w-100 bg-purple-300 d-flex flex-column justify-content-center align-content-center align-items-center"
  >
    <div class="w-25 h-75 bg-body-tertiary rounded-5">
      <header
        class="w-100 d-flex flex-column justify-content-center align-content-center align-items-center"
      >
        <img
          src="/assets/images/favicon.svg"
          alt="Logo"
          class="img-fluid w-25 mt-5"
        />
      </header>

      <p>{{message}}</p>
      <form
        class="w-100 d-flex flex-column px-5 gap-2 align-items-center mt-5"
        action="/users/login"
        method="post"
      >
        <label for="user" class="form-label w-100"> Digite seu usuário: </label>
        <input
          type="text"
          name="user"
          id="user_input"
          class="form-control"
          placeholder="Usuário"
        />
        <label for="password" class="form-label w-100">
          Digite sua senha:
        </label>
        <input
          type="password"
          name="password"
          id="password_input"
          class="form-control"
          placeholder="Senha"
        />
        <a
          class="form-text w-100 text-decoration-none text-opacity-50"
          href="#"
        >
          Esqueci a senha
        </a>
        <input type="submit" value="Login" class="btn btn-primary w-50" />
      </form>
    </div>
  </div>
{{/if}}