{{#if auth}}
  <div
    class="container-fluid h-100 w-100 bg-purple-300 d-flex flex-column align-items-start px-0"
  >
    <nav id="navbar" class="navbar bg-purple-200 px-3 mb-1 w-100">
      <a class="navbar-brand" href="#">SysMercado</a>
      <ul id="main-navbar" class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link disabled" href="#"> {{usuario.login}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid px-0 w-100 d-flex flex-column gap-2">
      <div
        class="container-fluid px-3 w-100 d-flex flex-row flex-wrap gap-2 justify-content-center align-content-center align-items-center"
      >
        {{#each cards}}
          {{> card}}
        {{/each}}

      </div>

      <main
        class="container-fluid h-100 w-100 d-flex flex-sm-row px-0 gap-2 flex-column"
      >
        <div class="w-50 w-sm-100 h-100 bg-body-tertiary">
          <p class="w-100 bg-body-secondary text-center fs-4"> Dashboard </p>
          <div class="d-flex flex-column px-3">
            <p> Total de vendas no mês: R$ ####,## </p>
            <p> Total de clientes cadastrados: xx clientes </p>
            <p> Total de produtos cadastrados: xx produtos </p>
          </div>
        </div>
        <div class="w-50 sm:w-100 h-100">
          <p class="w-100 bg-body-secondary text-center fs-4">
            Produtos em falta
          </p>
        </div>
      </main>
    </div>
  </div>
{{else}}
  <p> Do login, please </p>
{{/if}}