<html lang="pt-BR">

<head>
  <title> SysMercado </title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css
">
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
</head>

<body>
  <nav id="navbar" class="navbar bg-body-tertiary px-3 w-100">
    <a class="navbar-brand" href="#">SysMercado</a>
    <ul id="main-navbar" class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">Cadastro</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid w-100  px-0 py-0">
    <div class="row h-100 w-100">
      <div class="container col-6 w-50 h-100 m-0" style="background-image: url('assets/images/caixa1.jpg'); background-size: cover;">
      </div>
      <div class="container col-6 w-50 h-100 text-center d-flex flex-column align-items-center justify-content-center align-content-center">
        <p class="fs-2 align-self-center"> SysMercado </p>
        <p class="fs-4"> A solução para o seu mercadinho </p>
        <a class="fs-4 text-decoration-none text-black" href="#solucoes"> Venha conhecer as nossas soluções! </a>
      </div>
    </div>
  </div>
  <div class="container-fluid w-100 h-100 px-0 py-0">
    <div class="row w-100 bg-body-tertiary" id="solucoes">
      <p class="fs-2 text-center"> Nossas soluções! </p>
    </div>
    <div class="container-fluid w-100 h-100 d-flex flex-row flex-wrap px-0 py-0">
      <div class="w-50 h-50"> Cadastro de Clientes </div>
      <div class="w-50 h-50"> Controle de Estoque </div>
      <div class="w-50 h-50"> Cadastro de Clientes </div>
      <div class="w-50 h-50"> Controle de Estoque </div>
    </div>
  </div>
</body>

</html>