<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
			<link rel="stylesheet" href="/css/bootstrap.css">
			<script src="https://unpkg.com/html5-qrcode"></script>
		</head>
	<body>
		<h1 class="text-center"> Houve um erro durante a execução! </h1>
		<p> <%
            erro
        %> </p>
	<script type="module"src="/js/qrcode.js"></script>
	<script src="/js/read_script.js"></script>
	</body>
</html>