<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Portal de notícias</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="https://unpkg.com/html5-qrcode"></script>
</head>

<body>

</body>

</html>