{{> navBar tela="Cadastro de vendas"}}

<div class="row mx-0 minMainScreen bg-secondary">
  <div class="col-12 col-md-5 p-2" >
    {{> tabelaProdutos products}}
  </div>
  <div class="col-12 bg-danger col-md-7">
    <h1>teste</h1>
  </div>
</div>

{{!-- <div class=" container-fluid bg-danger h-100 w-100"></div> --}}
{{!-- <div class="form-group w-50">
  <label for="clientes">Cliente:</label>
  <select id="clientes" name="ClienteId" class="form-control" required>
    {{#each clients}}
    <option value="{{this.id}}"> {{this.name}} </option>
    {{/each}}

  </select>
</div>

<div class="form-group w-50">
  <label for="value">Valor da venda:</label>
  <input type="number" class="form-control" id="value" name="value" placeholder="Valor da venda" required>
</div>


</div>
<div class="d-flex flex-row justify-content-end gap-3">
  <button type="submit" class="btn btn-success">Cadastrar</button>
  <button type="reset" class="btn btn-secondary">Limpar</button>
</div> --}}