{{> navBar tela="Cadastro de vendas"}}

<div class="row mx-0 minMainScreen bg-secondary">
  <div class="col-12 col-md-5" >
    {{> tabelaProdutos products}}
  </div>
  <div class="col-12 bg-danger col-md-7">
    <h1>teste</h1>
  </div>
</div>
