{{> navBar tela="Estoque"}}
  <div
    class="container-fluid w-100 d-flex flex-column justify-content-center align-items-center align-content-center"
  >
    <div class="container-fluid w-75 d-flex flex-column my-2">
      <div class="w-100 text-center py-2">
        <h1 class="fs-4"> Estoque </h1>

        <form class="w-100 d-flex gap-2" action="/produtos/search" method="get">
          <div class="col-2 d-flex flex-row justify-content-start align-content-end align-items-end">
            <a class="btn btn-primary" href="/produtos/add" style="height: 38px;"> Cadastrar produto </a>
          </div>
          <div class="col-8 d-flex flex-row gap-2 justify-content-between">
            <div class="w-50 d-flex flex-column justify-content-start align-items-start">
              <label for="categoria_produto">Categoria:</label>
              <select class="form-control" id="categoria_produto" name="categoria_produto">
                <option value="*" selected> Todas </option>
                {{#each categorias}}
                  {{> categoriaOption}}
                {{/each}}
              </select>
            </div>
            <div class="w-100 d-flex flex-column justify-content-start align-items-start">
              <label for="prod_search">Pesquisa:</label>
              <input class="form-control w-100" type="text" name="prod_search" id="prod_search" placeholder="produto">
            </div>
          </div>
          <div class="col-2 d-flex flex-row justify-content-start align-content-end align-items-end">          
            <input class="btn btn-primary" type="submit" value="Pesquisar">
          </div>
        </form>
      </div>
        
        

      <div class="d-flex flex-column gap-2">
         <div
    class="d-flex flex-row flex-wrap rounded border border-1 justify-content-around align-items-center align-content-center my-0 w-100 py-1"
  >

        {{> headerTableProduct}}
        {{#each produtos}}
          {{> produto}}
        {{/each}}
         </div>
      </div>
    </div>
  </div>
<!-- Script para abrir e fechar a tela de confirmação -->
<script>
  function openConfirmation(id) {
  document.getElementById(`confirmation${id}`).style.display = "flex"; }
  function closeConfirmation(id) {
  document.getElementById(`confirmation${id}`).style.display = "none"; }
</script>