{{> navBar tela="Clientes cadastrados"}}
  <div
    class="container-fluid w-100 d-flex flex-column justify-content-center align-items-center align-content-center"
  >
    <div class="container-fluid w-75 d-flex flex-column">
      <div class="w-100 text-center">
        <h1 class="fs-4">Clientes cadastrados</h1>
        <form class="w-100 d-flex gap-2" action="/clientes/search" method="post">
          <div class="col-2 d-flex flex-row justify-content-start align-content-end align-items-end">
            <a class="btn btn-primary" href="/clientes/add">Cadastrar novo cliente</a>
          </div>
          <div class="col-8 d-flex flex-row gap-2 justify-content-between">
            <div class="w-100 d-flex flex-column justify-content-start align-items-start">
              <label for="prod_search">Pesquisa:</label>
              <input class="form-control w-100" type="text" name="search_cli" id="search_cli" placeholder="nome do cliente">
            </div>
          </div>
          <div class="col-2 d-flex flex-row justify-content-start align-content-end align-items-end">          
            <input class="btn btn-primary" type="submit" value="Pesquisar">
          </div>
        </form>
      </div>
      <div class="d-flex flex-column gap-1">
         <div
    class="d-flex flex-row  flex-wrap rounded border border-1 justify-content-around align-items-center align-content-center my-0 w-100 py-1"
  >
          {{> headerTableClients}}
          {{#each clientes}}
            {{> cliente}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
<!-- Script para abrir e fechar a tela de confirmação -->
<script>
  function openConfirmation(id) {
  document.getElementById(`confirmation${id}`).style.display = "flex"; }
  function closeConfirmation(id) {
  document.getElementById(`confirmation${id}`).style.display = "none"; }
</script>